<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>devCodeCamp Django Querying Lab</title>
</head>
<body>
    <h1>devCodeCamp Django Querying Lab</h2>
    <a href="{% url 'lab:one' %}">Problem One</a><br />
    <a href="{% url 'lab:two' %}">Problem Two</a><br />
    <a href="{% url 'lab:three' %}">Problem Three</a><br />
    <a href="{% url 'lab:four' %}">Problem Four</a><br />
    <a href="{% url 'lab:five' %}">Problem Five</a><br />
    <a href="{% url 'lab:six' %}">Problem Six</a><br />
    
</body>
</html>