<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello</p>
    {% for item in all_data %}
        {{item.student.first_name}} {{item.student.last_name}} {{item.student.gpa}} - {{item.course.name}}: {{ item.course.grade }}
        <br>
    {% endfor %}

    {% for item in students %}

        {{item.first_name}} - {{item.course.name}} {{item.grade}} {{item.count}} {{item.num_course}}
        <br>
    {% endfor %}
    
</body>
</html>